<div class="section section-presentation-page">
    <div class="parallax filter filter-color-green">
        <div class="image" style="background-image:url('assets/img/internship-min.JPG')">
        </div>
        <div class="container">
            <div class="content">
                <h1 class="title-modern">Summer Internship</h1>
                <div class="separator">♦</div>
            </div>
        </div>
    </div>
</div>

<div class="row Welcome text-center">
  <div class="col-12">
    <h2 class="display-4">Meet the first badge of GR8DI Internship Program</h2>
    <div class="separator separator-danger">✻</div>
  </div>
</div>

<div class="card1">
  <div class="container-fluid content-row">
    <div class="row">
      <div class="col-md-6 col-lg-4"> 
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/thierry.jpg">
          <div class="card-body">
            <h3 class="card-title">Thierry</h3>
            <p class="card-text"></p>
          </div>
        </div>
      </div> 

    <div class="col-md-6 col-lg-4"> 
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/bright.jpg">
          <div class="card-body">
            <h3 class="card-title">Bright</h3>
            <p class="card-text"></p>
          </div>
        </div>
   </div>  

    <div class="col-md-6 col-lg-4"> 
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/debenick.jpg">
          <div class="card-body">
            <h3 class="card-title">Debenick</h3>
            <p class="card-text"></p>
          </div>
        </div>
    </div> 

    <div class="col-md-6 col-lg-4"> 
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/albright.jpg">
          <div class="card-body">
            <h3 class="card-title">Albright</h3>
            <p class="card-text"></p>
          </div>
        </div>
    </div> 

    <div class="col-md-6  col-lg-4"> 
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/roy.jpg">
          <div class="card-body">
            <h3 class="card-title">Roy</h3>
            <p class="card-text"></p>
          </div>
        </div>
    </div> 

    <div class="col-md-6 col-lg-4"> 
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/valdo.jpg">
            <div class="card-body">
              <h3 class="card-title">Valdo</h3>
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    </div> 
  </div>     
</div>

